.ErrorPage{
    text-align: center;
    
    .error-msg{
        text-align: center;
        color: black;
    }

    .background-image{
        background-image: url("https://source.unsplash.com/36a3U4_UUHY/2000x900");
        background-repeat: no-repeat;
        min-height: 900px;
        overflow: hidden;
    }

    @media only screen and (max-width: 900px) {
        .background-image{            
            display: none;
        }
    }
}