.OrganizationPage{

    .Availablity {
      background-color: darken(white, 10);
      padding: 40px;
    }

    .Calendar {
      padding: 40px;
      padding-top: 20px;

      .AddEvent {
        padding: 0 0 20px;
      }
    }

    .rbc-month-row {
      flex-basis: 100px;
    }
}